.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adjust the opacity to make the overlay darker or lighter */
}
.form-control input::placeholder {
  color: white;
  font-size: 14px;
}
.form-control input:focus-visible {
  outline: none;
  color: white;
}
.add-btn {
  width: max-content;
}
